<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ var.title }} - Hunt</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="putao's dlang team">
    <meta name="description" content="Hunt - a framework for web and console application based on Collie using Dlang development">
    <meta name="keywords" content="hunt, collie, framework, web, console, dlang, putao team">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="{{ var.static_url }}/resources/statics/css/collied.css">
    <link rel="apple-touch-icon" href="{{ var.static_url }}/resources/statics/image/favicon.ico">
</head>

<body class="docs language-php">

    <span class="overlay"></span>

    <nav class="main">
        <div class="container">
            <a href="/" class="brand">
                <!--img src="{{ var.static_url }}/resources/statics/image/logo.png" height="30" alt="logo"--> Hunt
            </a>

            <div class="responsive-sidebar-nav">
                <a href="#" class="toggle-slide menu-link btn">&#9776;</a>
            </div>

            <ul class="main-nav">
                <li class="nav-docs"><a href="/home">Home</a></li>
                <li class="nav-laracasts"><a href="http://collied.org/collie">Collie</a></li>

               

                <li class="dropdown community-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://github.com/laravel/laravel">GitHub</a></li>
                        <li class="divider"></li>
                        <li><a href="http://blog.laravel.com">Laravel Blog</a></li>
                        <li class="divider"></li>
                        <li><a href="https://larajobs.com/?partner=5#/">Jobs</a></li>
                        <li><a href="https://laracasts.com/discuss">Forums</a></li>
                        <li><a href="https://laravel-news.com/">Newsletter</a></li>
                        <li><a href="http://www.laravelpodcast.com/">Podcast</a></li>
                        <li><a href="http://larachat.co">Slack</a></li>
                        <li><a href="https://twitter.com/laravelphp">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

   