<section class="sidebar">
            <ul>
                <li>Setup
                    <ul>
                        <li><a href="/docs/installation">Installation</a></li>
                        <li><a href="/docs/configuration">Configuration</a></li>
                        <li><a href="/docs/homestead">Homestead</a></li>
                    </ul>
                </li>
                <li>Tutorials
                    <ul>
                        <li><a href="/docs/quickstart">Basic Task List</a></li>
                        <li><a href="/docs/quickstart-intermediate">Intermediate Task List</a></li>
                    </ul>
                </li>
                <li>The Basics
                    <ul>
                        <li><a href="/docs/routing">Routing</a></li>
                        <li><a href="/docs/middleware">Middleware</a></li>
                        <li><a href="/docs/controllers">Controllers</a></li>
                        <li><a href="/docs/requests">Requests</a></li>
                        <li><a href="/docs/responses">Responses</a></li>
                        <li><a href="/docs/views">Views</a></li>
                    </ul>
                </li>
                <li>Architecture Foundations
                    <ul>
                        <li><a href="/docs/lifecycle">Request Lifecycle</a></li>
                        <li><a href="/docs/structure">Application Structure</a></li>
                        <li><a href="/docs/providers">Service Providers</a></li>
                        <li><a href="/docs/container">Service Container</a></li>
                        <li><a href="/docs/facades">Pipline</a></li>
                    </ul>
                </li>
                <li>Services
                    <ul>
                        <li><a href="/docs/cache">Cache</a></li>
                        <li><a href="/docs/encryption">Encryption</a></li>
                        <li><a href="/docs/hashing">Hashing</a></li>
                        <li><a href="/docs/helpers">Helpers</a></li>
                        <li><a href="/docs/mail">Mail</a></li>
                        <li><a href="/docs/redis">Redis</a></li>
                        <li><a href="/docs/session">Session</a></li>
                    </ul>
                </li>
                <li>Database
                    <ul>
                        <li><a href="/docs/database">Getting Started</a></li>
                        <li><a href="/docs/queries">Query Builder</a></li>
                    </ul>
                </li>
                <li>Hunt ORM
                    <ul>
                        <li><a href="/docs/hunt">Getting Started</a></li>
                        <li><a href="/docs/hunt-relationships">Relationships</a></li>
                        <li><a href="/docs/hunt-collections">Collections</a></li>
                        <li><a href="/docs/hunt-mutators">Mutators</a></li>
                        <li><a href="/docs/hunt-serialization">Serialization</a></li>
                    </ul>
                </li>
            </ul>
        </section>